main {
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid rgb(21, 5, 248);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(21, 5, 248, 0.514);
    color: rgb(21, 5, 248);
}

legend {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    border-color: rgb(21, 5, 248);
    width: 450px;
}

main {
    background-color: antiquewhite;
}

fieldset {
    margin: 30px;
    background-color: rgba(21, 5, 248, 0.212);
    border: 2px solid rgb(21, 5, 248);
}

#button {
    display: flex;
    height: 60px;
    margin-bottom: 15px;
}

#recipient {

    width: 597px;
    margin-left: 14px;
    height: 30px;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
}

input {
    padding: 8px;
    border: 1px solid rgb(21, 5, 248);
    border-radius: 5px;
}



div input {

    left: 590px;
    width: 580px;

}

#firstname {
    margin-left: 44px;
}

#name {
    margin-left: 55px;
}

#mail {
    margin-left: 48px;
}

#messageobject {
    margin-left: 50px;
}

span {
    vertical-align: top;
    line-height: 150px;
}

#about {

    width: 591px;
    margin-left: 27px;
}


#validate {
    display: block;
    width: 120px;
    margin: 0.5rem;
    font-size: 20px;
    background-color: rgba(21, 5, 248, 0.541);
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin-left: 260px;
}

#validate:hover {
    color: rgb(255, 250, 124);
}

#browse {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 484px;
}

#erase {
    display: block;
    width: 120px;
    margin: 0.5rem;
    font-size: 20px;
    background-color: rgba(21, 5, 248, 0.541);
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
}

#erase:hover {
    color: rgb(255, 250, 124);
}

small {
    padding-left: 30px;
}

.accent {
    accent-color: rgb(21, 5, 248);
    width: 20px;
    margin-left: 0px;
}

#receive_a_copy_of_the_message {
    width: initial;
    margin-left: initial;
    margin-top: 20px;
}

#receive_our_offers {
    width: initial;
    margin-left: initial;
    margin-bottom: 20px;
}

#no {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#by-mail {
    margin-left: 10px;
}