body {
    margin-top: 10px;
}

#grid {
    margin-bottom: 20px;
}



#with-grid {
    display: grid;
    margin-left: 0px;
    margin-bottom: 15px;
    grid-template-columns: repeat(8, 140px);
    grid-template-rows: repeat(8, 150px);
    gap: 10px;
}

#bloc-1_homepage {
    display: flex;
    width: 300px;
    height: 150px;
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-2.png);
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}

#bloc-2_homepage {
    display: flex;
    width: 300px;
    height: 150px;
    grid-column: 3 / span 4;
    grid-row: 1;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-2.png);
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}

#bloc-3_homepage {
    display: flex;
    width: 300px;
    height: 150px;
    grid-column: 5 / span 6;
    grid-row: 1;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-2.png);
    background-repeat: no-repeat;
    background-size: 300px 150px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}

#bloc-4_homepage {
    display: flex;
    width: 300px;
    height: 450px;
    grid-column: 7 / span 8;
    grid-row: 1 / span 3;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-1.png);
    background-repeat: no-repeat;
    background-size: 300px 450px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}

#bloc-5_homepage {
    display: flex;
    width: 900px;
    height: 1050px;
    grid-column: 1 / span 6;
    grid-row: 2 / span 8;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-1.png);
    background-repeat: no-repeat;
    background-size: 900px 1050px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}

#bloc-6_homepage {
    display: flex;
    width: 300px;
    height: 750px;
    grid-column: 7 / span 8;
    grid-row: 4 / span 8;
    justify-content: space-around;
    background-image: url(../img/cadre-site-content-1.png);
    background-repeat: no-repeat;
    background-size: 300px 750px;
    background-position: top left;
    align-items: center;
    margin-top: initial;
}