h1 {
    margin: 105px 0px;
    color: aqua;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: 'lexend', Times, serif;
    cursor: default;
}

#shop-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1120px;
    height: 100%;
    justify-content: space-around;
    align-content: space-evenly;
}

.shop-flex-figure {
    width: 240px;
    height: 360px;
    object-fit: cover;
    border: 2px solid aqua;
    box-shadow: 0 5px 10px aqua, 0 -5px 10px aqua, 5px 0 10px aqua, -5px 0 10px aqua;
    border-radius: 5%;
    text-align: center;
    margin: 20px;
}

.shop-item-title {
    margin-top: 60px;
    font-family: 'lexend', Times, serif;
    font-weight: 900;
    text-decoration: underline;
    font-size: x-large;
    background-color: black;
    color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: aqua aqua;
    border-radius: 10px;
    box-shadow: 0 5px 10px aqua, 0 -5px 10px aqua, 5px 0 10px aqua, -5px 0 10px aqua;
    text-align: center;
    width: 120px;
    height: 35px;
    margin-left: 60px;
    margin-bottom: 30px;
    cursor: default;
}

.shop-item-price {
    margin: 0px;
    font-size: x-large;
    color: aqua;
    cursor: default;
}

.shop-flex-figure img {
    width: 135px;
    height: 130px;
}

.buy-button {
    width: 110px;
    height: 35px;
    border: 4px solid aqua;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: rgb(58, 58, 58);
}